<html>
<head>
    <title>result page</title>
</head>
<body>
    <h2>Value of <%= data.amount %> <%= data.currency[0] %> in <%= data.currency[1] %> is <%= result%> <%= data.currency[1] %></h2>
    <br />
    <form method = 'get' >
         <input type="submit" value="Next">
    </form>

</body>
</html>